/* ==========================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

/* ==========================================================================
   Particles-js
   ========================================================================== */
canvas {
  display: block;
  vertical-align: bottom; }

#particles-js {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/* ==========================================================================
   My CSS
   ========================================================================== */
.container {
  max-width: 1024px;
  margin: 0 auto; }

.jumbotron {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: default; }
  .header-text > h1 {
    text-shadow: 0px 2px 2px #000;
    display: flex;
    justify-content: center;
    font-size: 80px; }
  .header-text h5 {
    color: #a1b56c;
    font-size: 20px; }

nav.navbar {
  background-color: transparent;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
  border: 0;
  margin-bottom: 0;
  margin-top: 5vh; }
  nav.navbar.shrink {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 0px; }

.nav.navbar-nav.pull-right li a {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff; }

section {
  display: flex;
  padding-top: 90px; }
  section:first-of-type {
    padding-top: 79px;
    margin-top: 1px; }
  section h3 {
    font-size: 52px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  section .row {
    display: flex;
    justify-content: center; }

#about p {
  text-align: right;
  padding-right: 30px;
  border-right: 3px solid #a1b56c;
  font-size: 30px; }
#about button, #about button:focus {
  height: 45px;
  width: 130px;
  background-color: #a1b56c;
  color: #fff;
  border: none;
  border-radius: 4%; }
#about img {
  border-radius: 5%; }

#skills {
  position: relative;
  margin-top: 50px;
  min-height: 700px;
  background-image: url(../img/skills-bgi.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0px 2px 2px #000;
  box-shadow: 0px 1px 7px #000;
  z-index: 3; }
  #skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  #skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: center;
    align-items: center; }

.tech {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; }
  .tech img {
    height: 90px;
    width: 90px; }

.js > img {
  border-radius: 50%;
  height: 126px;
  width: 126px; }

.jq > img {
  height: 80px;
  width: 80px; }

.ps > img {
  height: 80px;
  width: 80px; }

footer {
  margin-top: 60px;
  height: 400px;
  background-color: #333; }

.box {
  background-color: red;
  width: 300px;
  height: 250px;
  margin: 10px; }

.item {
  height: 150px;
  width: 150px;
  background-color: red;
  margin: 10px; }

/* ==========================================================================
   @media queries
   ========================================================================== */
@media (max-width: 900px) {
  .header-text > h1 {
    font-size: 50px; }

  section h3 {
    font-size: 30px; } }
@media (max-width: 991px) {
  .me-img {
    display: none; } }
@media (min-width: 992px) {
  .collapse.navbar-collapse ul {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(-15%, -50%, 0); }

  a.navbar-brand {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 200px;
    margin-top: 5px; } }

/*# sourceMappingURL=style.css.map */
