/* ==========================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

/* ==========================================================================
   Particles-js
   ========================================================================== */
canvas {
  display: block;
  vertical-align: bottom; }

#particles-js {
  width: 100%;
  height: 100vh;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/* ==========================================================================
   My CSS
   ========================================================================== */
.jumbotron {
  height: 100vh;
  width: 100%;
  padding: 0; }

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: default; }
  .header-text > h1 {
    text-shadow: 0px 2px 2px #000;
    display: flex;
    justify-content: center;
    font-size: 80px; }
  .header-text p {
    color: #a1b56c; }

nav.navbar {
  background-color: transparent;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
  border: 0;
  margin-bottom: 0;
  margin-top: 5vh; }
  nav.navbar.shrink {
    background-color: #333;
    margin-top: 0px; }

a.navbar-brand {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  height: 75px;
  width: 200px;
  margin-top: 5px; }

.nav.navbar-nav.pull-right li a {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff; }

section {
  height: 1000px;
  padding-top: 100px;
  display: flex; }
  section h3 {
    font-size: 52px;
    text-transform: uppercase;
    display: flex;
    justify-content: center; }

footer {
  height: 200px;
  background-color: #333; }

/* ==========================================================================
   @media queries
   ========================================================================== */
@media (min-width: 992px) {
  .collapse.navbar-collapse ul {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(-80%, -50%, 0); } }

/*# sourceMappingURL=style.css.map */
