/*

Project:    Project Name;
Version:    1.0;
Author:     Jakub Siedlecki;

==================
Table of Contents
==================
*/

@import "vendor/_variables";
@import "vendor/_breakpoints";

@import "partials/globals.scss";
@import "partials/header.scss";
@import "partials/nav.scss";
@import "partials/main.scss";
@import "partials/footer.scss";